@font-face {
    font-family: 'HomizioBlack';
    src: url('../fonts/homizio/black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/homizio/black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/homizio/black.woff') format('woff'), /* Modern Browsers */ url('../fonts/homizio/black.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/homizio/black.svg#b592aaf68b69a2fbeaf47c7fd4a2b6d5') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: "HomizioBlack";
}

header .title {
    text-transform: uppercase;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

img {
    height: auto;
    max-width: 100%;
    width: auto;
}

.pane {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
    background: rgba(255, 255, 255, 0.56);
    margin-bottom: 10px;
}

a.item {
    color: #0b811d;
}

#player-status-icon {
    font-size: 52px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

.center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box; /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box; /* OLD: Firefox (buggy) */
    display: -ms-flexbox; /* MID: IE 10 */
    display: -webkit-flex; /* NEW, Chrome 21–28, Safari 6.1+ */
    display: flex; /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

    -webkit-box-align: center;
    -moz-box-align: center; /* OLD… */
    -ms-flex-align: center; /* You know the drill now… */
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#show-info {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.27);
    box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.27);
}

#show-image {
    margin: 0 20px;
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.33), inset 0 0 24px 0 rgba(0, 0, 0, 75);
    -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.33), inset 0 0 24px 0 rgba(0, 0, 0, 75);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.33), inset 0 0 24px 0 rgba(0, 0, 0, 75);
    border: 20px solid rgba(255, 255, 255, 0.3);
}

#show-image img {
    z-index: -2;
    position: relative;
}

#show-play {
    height: 10%;
    display:table;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.25);
}

.gradient {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzMTMxMyIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==) repeat !important;
    background: -moz-linear-gradient(top, rgba(69, 69, 69, 0.9) 0%, rgba(19, 19, 19, 0.9) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 69, 69, 0.9)), color-stop(100%, rgba(19, 19, 19, 0.9))) !important;
    background: -webkit-linear-gradient(top, rgba(69, 69, 69, 0.9) 0%, rgba(19, 19, 19, 0.9) 100%) !important;
    background: -o-linear-gradient(top, rgba(69, 69, 69, 0.9) 0%, rgba(19, 19, 19, 0.9) 100%) !important;
    background: -ms-linear-gradient(top, rgba(69, 69, 69, 0.9) 0%, rgba(19, 19, 19, 0.9) 100%) !important;
    background: linear-gradient(to bottom, rgba(69, 69, 69, 0.9) 0%, rgba(19, 19, 19, 0.9) 100%) !important;
}

.gradient-reversed {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzMTMxMyIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==) repeat !important;
    background: -moz-linear-gradient(top, rgba(19, 19, 19, 0.56) 0%, rgba(69, 69, 69, 0.56) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(19, 19, 19, 0.56)), color-stop(100%, rgba(69, 69, 69, 0.56))) !important;
    background: -webkit-linear-gradient(top, rgba(19, 19, 19, 0.56) 0%, rgba(69, 69, 69, 0.56) 100%) !important;
    background: -o-linear-gradient(top, rgba(19, 19, 19, 0.56) 0%, rgba(69, 69, 69, 0.56) 100%) !important;
    background: -ms-linear-gradient(top, rgba(19, 19, 19, 0.56) 0%, rgba(69, 69, 69, 0.56) 100%) !important;
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0.56) 0%, rgba(69, 69, 69, 0.56) 100%) !important;
}
